test-unit:
  image: rocker/r-base
  script:
    - R -q -e 'install.packages("remotes")'
    - R -q -e 'install.packages("covr")'
    - R -q -e "remotes::install_deps(dependencies = TRUE)"
    - Rscript -e 'cat(paste0(covr::percent_coverage(covr::package_coverage()), "%"))'
  coverage: '/([0-9]{1,3}%)/'
