default:
  image: rocker/r-ver:latest

building:
  stage: build
  script:
    - R -q -e 'install.packages("covr")'
    - R -q -e 'install.packages("remotes")'
    - R -q -e "remotes::install_deps(dependencies = TRUE)"

testing:
  stage: test
  allow_failure: true
  when: on_success
  script:
    - Rscript -e 'cat(paste0(covr::percent_coverage(covr::package_coverage()), "%"))'
  coverage: '/([0-9]{1,3}%)/'
