test-unit:
  image: rocker/tidyverse
  script:
    - Rscript -e 'install.packages("covr")' > /dev/null
    - Rscript -e 'cat(paste0(covr::percent_coverage(covr::package_coverage()), "%"))'
  coverage: '/([0-9]{1,3}%)/'
